$:render.header()
      <div class="container">
        <div class="page-header">
          <h1>THE MAC WAS RESET</h1>
          <h4>if the mac will appear online again, alert will be triggered</h4>
          <h4>the alert will be sent only if 
              the hardware evaluation will consider the 
              hardware not genuine</h4>
        </div>
      </div>
      <!-- /.container -->
      <!-- PAGE SPECIFIC SCRIPTS
        ================================================== -->
      <script src="/js/arpmonitor/engine_summary.js"></script>
$:render.footer()

